{% extends "_base.html" %}
{% load i18n %}
{% load rules %}
{% load static %}

{% block content %}
<h1> Fahrtenbuch </h1>
<div class="table-listing">>
  <table class="w-full mt-4 rounded border border-solid border-grey-light shadow bg-white table-fixed">
    <thead>
      <tr>
        <th> Fahrtenbuch id</th>
        <th> Fahrzeug</th>
        <th> Fahrer</th>
        <th> Beifahrer</th>
        <th> Datum</th>
        <th> Beendet</th>
      </tr>
    </thead>
    {% for instance in object_list %}
    <tr>
      <td><a href='/logbooks/{{instance.id}}/'> Fahrtenbuch: {{instance.id}} </a></td>
      <td> <a href="/vehicles/{{instance.vehicle.id}}/">{{instance.vehicle.licencePlate}}</a></td>
      <td> {{instance.driver}}</td>
      <td> {{instance.coDriver}}</td>
      <td> {{instance.startDate}}</td>
      <td> {{instance.finished}}</td>
    </tr> </a>
    {% endfor %}
  </table>
</div>
<div>
  <form action="/logbooks/new">
    <button title="Neues Fahrtenbuch" class="confirmation-button bg-red hover:bg-red-dark text-white font-bold py-2 px-4 rounded" data-action="{% url 'new_logbook'  %}">
        Fahrtenbuch erstellen
    </button>
  </form>

</div>
{% endblock %}
