{% extends "_base.html" %}

{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% load content_filters %}
{% load rules %}
{% load compress %}

{% block css %}
    <link href="{% static 'tinymce/skins/ui/oxide/skin.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'tinymce/skins/ui/oxide/content.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'tinymce/skins/content/default/content.css' %}" rel="stylesheet"type="text/css">
{% endblock %}

{% block javascript_head %}
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'js/confirmation-popups.js' %}"></script>
    <script src="{% static 'tinymce/tinymce.min.js' %}"></script>
    <script src="{% static 'tinymce/themes/silver/theme.js' %}"></script>
    <script src="{% static 'tinymce/plugins/paste/plugin.js' %}"></script>
    <script src="{% static 'tinymce/plugins/fullscreen/plugin.js' %}"></script>
    <script src="{% static 'tinymce/plugins/autosave/plugin.js' %}"></script>
    <script src="{% static 'tinymce/plugins/link/plugin.js' %}"></script>
    <script src="{% static 'tinymce/plugins/preview/plugin.js' %}"></script>
    <script src="{% static 'tinymce/plugins/media/plugin.js' %}"></script>
    <script src="{% static 'tinymce/plugins/image/plugin.js' %}"></script>
    <script src="{% static 'tinymce/plugins/code/plugin.js' %}"></script>
    <script src="{% static 'tinymce/plugins/lists/plugin.js' %}"></script>
    <script src="{% static 'tinymce/plugins/directionality/plugin.js' %}"></script>
    <script src="{% static 'tinymce-i18n/langs/de.js' %}"></script>
{% endblock %}

{% block content %}
<form method="post" novalidate>
    {% csrf_token %}
    <div class="flex flex-wrap">
        <div class="w-4/5 flex flex-wrap flex-col justify-center mb-6">
            <h2 class="heading font-normal">
                {% if request_form.instance.id %}
                    {% with request_form.instance.pinname as request_pinname %}
                        {% blocktrans %}Edit Request "{{ request_pinname }}"{% endblocktrans %}
                    {% endwith %}
                {% else %}
                    {% trans 'Create new Request' %}
                {% endif %}
            </h2>
        </div>
        <div class="w-1/5 flex justify-end mb-6">
            <input type="submit" class="cursor-pointer bg-blue-500 hover:bg-blue-600 text-white font-bold py-3 px-4 rounded" value="Submit">
        </div>
    </div>
    {% csrf_token %}
  
    <table class="w-6/12 mt-4 rounded border border-solid border-gray-400 shadow bg-white table-fixed">
      {% for field in request_form.visible_fields %}
        <tr>
          <th style="text-align:left; width: 30%">{{ field.label_tag }}</th>
          <td style="width: 50%">
            {% if field.name == "postcode" %}
                {% render_field field placeholder="must be 5 digits" minlength="5" maxlength="5" %}
            {% elif field.name == "latitude" or field.name == "longitude" %}
                {% render_field field placeholder=field.name type="number" step="0.1" min=0.0%}
            {% else %}
                {% render_field field placeholder=field.name %}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
  </form>

{% if request_form.instance.id %}
    {% if request_form.instance.archived %}
        {% include "./confirmation_popups/restore_request.html" %}
    {% else %}
        {% include "./confirmation_popups/archive_request.html" %}
    {% endif %}
    {% if user.is_superuser or user.is_staff %}
        {% include "./confirmation_popups/delete_request.html" %}
    {% endif %}
{% endif %}
{% endblock %}
